$website-color: #547898;
$website-color-secondary: #364f6b;
$white-text-color: aliceblue;
$website-font: "Story Script", sans-serif;
$black-text-color: #000000;
$button-color: linear-gradient(135deg, #88ffbc, #e3fc8b);
$button-color-hover: linear-gradient(90deg, #88ffbc, #e3fc8b);
